---
http_interactions:
- request:
    method: get
    uri: https://sellercenter-api.linio.com.mx/?query%5BAction%5D=FeedList&query%5BFormat%5D=XML&query%5BSignature%5D=8dd9600acd21ff4f871070d5e3f5aa6a0d85b4bc430f12c5bc8bcade192a8d66&query%5BTimestamp%5D=2019-09-17T15:33:10-05:00&query%5BUserID%5D=hola@listify.mx&query%5BVersion%5D=1.0&verify=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <ErrorResponse>
          <Head>
            <RequestAction/>
            <ErrorType>Sender</ErrorType>
            <ErrorCode>1</ErrorCode>
            <ErrorMessage>E001: Parameter Version is mandatory</ErrorMessage>
          </Head>
          <Body/>
        </ErrorResponse>
  recorded_at: Tue, 17 Sep 2019 20:33:11 GMT
- request:
    method: get
    uri: https://sellercenter-api.linio.com.mx/?query%5BAction%5D=FeedList&query%5BFormat%5D=XML&query%5BSignature%5D=dd722b06a34bd0ce8d86a3bf435619c866128ae45c30dc9ded712fb61605e4c1&query%5BTimestamp%5D=2019-09-17T17:24:38-05:00&query%5BUserID%5D=hola@listify.mx&query%5BVersion%5D=1.0&verify=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <ErrorResponse>
          <Head>
            <RequestAction/>
            <ErrorType>Sender</ErrorType>
            <ErrorCode>1</ErrorCode>
            <ErrorMessage>E001: Parameter Version is mandatory</ErrorMessage>
          </Head>
          <Body/>
        </ErrorResponse>
  recorded_at: Tue, 17 Sep 2019 22:24:38 GMT
recorded_with: VCR 4.0.0
